<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.settings.lunaain">

<!--this is for RMX3360 & RMX3361 (21675, 21603).-->

    <overlay
        android:isStatic="true"
        android:priority="850"
        android:requiredSystemPropertyName="ro.boot.prjname"
        android:requiredSystemPropertyValue="21603"
        android:targetPackage="com.android.providers.settings" />
</manifest>
